<p id="notice"><%= notice %></p>

<p>
  <strong>Payment</strong>
  <%= @profile.user_events.first.try(:payment) %>
</p>

<p>
  <strong>Status</strong>
  <%= @profile.user_events.first.try(:status) %>
</p>

<p>
  <strong>Balance</strong>
  <%= @profile.user_events.first.try(:balance) %>
</p>

<p>
  <strong>Payment</strong>
  <%= @profile.events.first.try(:name) %>
</p>
<p>
  <strong>Firstname:</strong>
  <%= @profile.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @profile.lastname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @profile.middlename %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
